<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ordnerauswahl</title>
    <link  href="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script>
        function getFolderPath() {
            var fileInput = document.getElementById('folder');
            var filePath = fileInput.files[0].webkitRelativePath;
            var folderPath = filePath.substring(0, filePath.indexOf("/"));
            document.getElementById('outputFolderPath').value = folderPath;
        }
    </script>
</head>
<body>
<div class='container'>
    <h2>Bitte wählen Sie einen Ausgabeordner aus.</h2>
    <hr/>
    <form method="POST" action="/submitOutputPath">
        <div class="form-group">
            <label for="folder">Wählen Sie einen Ordner:</label>
            <input type="file" class="form-control" id="folder" onchange="getFolderPath()" webkitdirectory required>
            <input type="hidden" id="outputFolderPath" name="outputFolderPath">
        </div>
        <button type="submit" class="btn btn-primary">Fortfahren</button>
    </form>
    <hr/>
    <a th:href="@{/searchOption}">Fortfahren.</a>
</div>
</body>
</html>