<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Textsuche</title>
    <link  href="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Bitte wählen sie eine Suchoption aus.</h2>
    <hr/>
    <form th:action="@{/searchOption}" th:object="${searchModel}" method="post">
        <label>
            <input type="hidden" th:field="*{searchOption}" value="Textsearch" />
            <button type="submit" class="btn btn-primary mb-2">Volltextsuche</button>
        </label>
        <label>
            <input type="hidden" th:field="*{searchOption}" value="DateSearch" />
            <button type="submit" class="btn btn-primary mb-2">Suche nach Datum</button>
        </label>
        <label>
            <input type="hidden" th:field="*{searchOption}" value="DocIDSearch" />
            <button type="submit" class="btn btn-primary mb-2">DocID Suche</button>
        </label>
        <label>
            <input type="hidden" th:field="*{searchOption}" value="iPSearch" />
            <button type="submit" class="btn btn-primary mb-2">IP Suche</button>
        </label>
        <label>
            <input type="hidden" th:field="*{searchOption}" value="sapDocIDSearch" />
            <button type="submit" class="btn btn-primary mb-2">SAP-DocID Suche</button>
        </label>
        <label>
            <input type="hidden" th:field="*{searchOption}" value="timeSearch" />
            <button type="submit" class="btn btn-primary mb-2">Suche nach Zeitraum</button>
        </label>
    </form>
</div>
</body>
</html>

