<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Textsuche</title>
    <link  href="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Bitte wählen sie eine Suchoption aus.</h2>
    <hr/>
    <form>
        <label>
            <a th:href="@{/textSearch}" class="btn btn-primary mb-2">Volltextsuche</a>
        </label>
    <form/>
        <form>
            <label>
                <a th:href="@{/DateSearch}" class="btn btn-primary mb-2">Volltextsuche</a>
            </label>
            <form/>
            <form>
                <label>
                    <a th:href="@{/DocIDSearch}" class="btn btn-primary mb-2">Volltextsuche</a>
                </label>
                <form/>
                <form>
                    <label>
                        <a th:href="@{/iPSearch}" class="btn btn-primary mb-2">Volltextsuche</a>
                    </label>
                    <form/>
                    <form>
                        <label>
                            <a th:href="@{/sapDocIDSearch}" class="btn btn-primary mb-2">Volltextsuche</a>
                        </label>
                        <form/>
                        <form>
                            <label>
                                <a th:href="@{/timeSearch}" class="btn btn-primary mb-2">Volltextsuche</a>
                            </label>
                            <form/>

</div>
</body>
</html>

